<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lsd.video.dao.AreaDao">

	<select id="queryAreaByPid" resultType="com.lsd.video.domain.Area" parameterType="java.lang.Integer">
		SELECT
			*
		FROM
			lsd_area
		WHERE
			pid = #{pid}
	</select>

	<select id="queryAreas" resultType="com.lsd.video.domain.Area">
		SELECT
			*
		FROM
			lsd_area
	</select>
</mapper>