<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lsd.video.dao.BannerDao">

	<select id="queryBanners" resultType="com.lsd.video.domain.Banner">
		SELECT
			id,
			name,
			create_time,
			deleted,
			image,
			url
		FROM
			lsd_banner WHERE deleted = 0
	</select>
</mapper>