<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lsd.video.dao.UserLabelDao">
	<insert id="saveUserLabel" parameterType="com.lsd.video.domain.UserLabel">
		INSERT INTO lsd_label (
			user_id,
			critics_id,
			score,
			coment
		) VALUES (
			#{userId},
			#{criticsId},
			#{score},
			#{coment}
		)
	</insert>
	
	<select id="queryUserLabelByUserId" resultType="com.lsd.video.domain.UserLabel">
		SELECT
			*
		FROM
			lsd_label
		WHERE
			user_id = #{userId}
	</select>
</mapper>