<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lsd.video.dao.VersionDao">

	<select id="queryVersionByDeviceType" resultType="com.lsd.video.domain.Version">
		SELECT
			*
		FROM
			lsd_device_version
		WHERE
			device_type = #{deviceType}
	</select>

	<select id="querySwitch" resultType="com.lsd.video.domain.IosSwitch">
		SELECT * FROM lsd_switch WHERE version_no = #{versionNo}
	</select>
</mapper>